* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #FFF0AC		;
    color: black;
    padding: 30px;
  }
  
.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  
.navbar ul li {
    padding: 10px 20px;  /* 設定正常狀態下的 padding */
    transition: all 0.3s ease;  /* 增加過渡效果，使懸停過程更平滑 */
  }

  .navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.5;
  }
  
  .navbar ul li:hover {
    background-color: white;
    border-radius: 10px;   /* 圓角效果 */
    font-size: 18px;  /* 增加文字大小 */
    transform: scale(1.1);  /* 放大 1.1 倍，讓懸停項目變大 */
  }